#include "./.color_themes/Vaughn.xrdb"

Rxvt*color0:       Ansi_0_Color
Rxvt*color1:       Ansi_1_Color
Rxvt*color2:       Ansi_2_Color
Rxvt*color3:       Ansi_3_Color
Rxvt*color4:       Ansi_4_Color
Rxvt*color5:       Ansi_5_Color
Rxvt*color6:       Ansi_6_Color
Rxvt*color7:       Ansi_7_Color
Rxvt*color8:       Ansi_8_Color
Rxvt*color9:       Ansi_9_Color
Rxvt*color10:      Ansi_10_Color
Rxvt*color11:      Ansi_11_Color
Rxvt*color12:      Ansi_12_Color
Rxvt*color13:      Ansi_13_Color
Rxvt*color14:      Ansi_14_Color
Rxvt*color15:      Ansi_15_Color
Rxvt*colorBD:      Bold_Color
Rxvt*colorIT:      Italic_Color
Rxvt*colorUL:      Underline_Color
Rxvt*foreground:   Foreground_Color
Rxvt*background:   Background_Color
Rxvt*cursorColor:  Cursor_Color

URxvt.font: xft:CamingoCode Regular:size=10
URxvt.letterSpace: -5

*xterm*color0:      Ansi_0_Color
*xterm*color1:      Ansi_1_Color
*xterm*color2:      Ansi_2_Color
*xterm*color3:      Ansi_3_Color
*xterm*color4:      Ansi_4_Color
*xterm*color5:      Ansi_5_Color
*xterm*color6:      Ansi_6_Color
*xterm*color7:      Ansi_7_Color
*xterm*color8:      Ansi_8_Color
*xterm*color9:      Ansi_9_Color
*xterm*color10:     Ansi_10_Color
*xterm*color11:     Ansi_11_Color
*xterm*color12:     Ansi_12_Color
*xterm*color13:     Ansi_13_Color
*xterm*color14:     Ansi_14_Color
*xterm*color15:     Ansi_15_Color
*xterm*colorBD:     Bold_Color
*xterm*colorIT:     Italic_Color
*xterm*colorUL:     Underline_Color
*xterm*foreground:  Foreground_Color
*xterm*background:  Background_Color
*xterm*cursorColor: Cursor_Color

! *xterm*background: #101010
! *xterm*foreground: #d0d0d0
! *xterm*cursorColor: #d0d0d0
! *xterm*color0: #101010
! *xterm*color1: #960050
! *xterm*color2: #66aa11
! *xterm*color3: #c47f2c
! *xterm*color4: #30309b
! *xterm*color5: #7e40a5
! *xterm*color6: #3579a8
! *xterm*color7: #9999aa
! *xterm*color8: #303030
! *xterm*color9: #ff0090
! *xterm*color10: #80ff00
! *xterm*color11: #ffba68
! *xterm*color12: #5f5fee
! *xterm*color13: #bb88dd
! *xterm*color14: #4eb4fa
! *xterm*color15: #d0d0d0

XTerm*faceName: CamingoCode Regular
XTerm*faceSize: 10

emacs.FontBackend: xft
Emacs.font: CamingoCode-11
